.comment-header {
  position: relative;

  &__avatar {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid $color-grey-2;
  }

  &__author, &__date {
    max-width: calc(100% - 160px);  // Leave room for actions to the right and avatar to the left
    margin: 0;
    margin-left: 57px;
    font-size: 0.7em;
  }

  &__date {
    color: $color-grey-25;
  }

  &__actions {
    position: absolute;
    right: 0;
  }

  &__action {
    float: left;
    margin-left: 20px;

    > button, > details > summary {
      list-style-type: none;
      width: 40px;
      height: 40px;
      background-color: unset;
      border: none;
      color: $color-grey-2;
      text-align: center;

      :hover {
        cursor: pointer;
      }

      svg {
        height: 25px;
        vertical-align: text-bottom;
      }
    }

    > details {
      position: relative;

      > div {
        position: absolute;
        right: 0;
        top: 60px;
      }
    }

    &--teal {
      > button, > details > summary {
        color: $color-teal;
      }
    }
  }

  &__more-actions {
    @include box;
  }
}

.comment--mode-deleting .comment-header, .comment-reply--mode-deleting .comment-header {
  opacity: 0.5;
}
